html {
  box-sizing: border-box;
  text-align: center;
  background-color: #030201;
  color: #ababab;
  /*opacity: 80%; */
}

.App {
  display: grid;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.right {
  width: 50%;
  border: 1px solid red;
}
.time {
  font-size: 70px;
  margin: 0px;
}
.time h1 {
  margin: 0;
}
.sunrise, .greet, .date {
  font-size: 30px;
}
.wiki {
  /*width: 45%; */
  flex-grow: 1;
  margin-top: 15px;
  border: 1px solid red;
}
.wiki-title {
  font-size: 30px;
}
.wiki-desc {
  font-size: 25px;
  /* width: 50%;
  margin: 10px auto 10px auto; */
}






