html {
  box-sizing: border-box;
  text-align: center;
  background-color: #030201;
  color: #ababab;
  /*opacity: 80%; */
}

.time {
  font-size: 60px;
 
}
.sunrise, .greet, .date {
  font-size: 30px;
}
.wiki {
  margin-top: 10px;
}
.wiki-title {
  font-size: 20px;
}






