html {
  box-sizing: border-box;
  text-align: center;
  background-color: #030201;
  color: #ababab;
  /*opacity: 80%; */
}

.App {
  display: grid;
}

.time {
  font-size: 70px;
  margin: 0px;
}
.time h1 {
  margin: 0;
}
.sunrise, .greet, .date {
  font-size: 30px;
}
.wiki {
  margin-top: 15px;
}
.wiki-title {
  font-size: 30px;
}
.wiki-desc {
  font-size: 25px;
  width: 50%;
  margin: 10px auto 10px auto;
}






